.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

.totalCostContainer {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;

  & h3 {
    text-decoration: underline;
  }

  & span {
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: overline;
  }

  & ul {
    list-style: decimal;
    margin-left: 0.3rem;
  }
}
