.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background: lightgray;
  border-radius: 1rem;
  color: black;
  & div {
    display: flex;
    gap: 1rem;

    & input {
      border: none;
      outline: none;
      padding: 1rem 2rem;
      border-radius: 1rem;
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  text-align: center;
  color: black;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popupContent h2 {
  margin: 0;
}

.popupContent button {
  align-self: center;
}

@media (max-width: 750px) {
  .formContainer {
    & div {
      flex-direction: column;
    }
  }
}
